<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generated Fantasy Names</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='names.css') }}"> 
</head>
<body>
    <h1>Generated Fantasy Names</h1>

    <div class="name-container">
        <div id="character-list">
            <ul>
                {% for name in names %}
                    <li>{{ name }}</li>
                {% endfor %}
            </ul>
        </div>
        <button onclick="location.reload();">Generate More Names</button>
        <a href="/" class="return-link">Return to Fantasy Name Generator</a>
    </div>
</body>
</html>

