<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fantasy Name Generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <h1>Fantasy Name Generator</h1>

    <form action="/names" method="POST">
        <label for="ancestry">Select Ancestry:</label>
        <select id="ancestry" name="ancestry">
            {% for ancestry in ancestries %}
            <option value="{{ ancestry }}" {% if session.get('ancestry') == ancestry %}selected{% endif %}> {{ ancestry }} </option>
            {% endfor %}
        </select>

        <label for="gender">Select Gender:</label>
        <select id="gender" name="gender">
            <option value="male" {% if session.get('gender') == 'male' %}selected{% endif %}>Male</option>
            <option value="female" {% if session.get('gender') == 'female' %}selected{% endif %}>Female</option>
            <option value= "non-binary" {% if session.get('gender') == 'non-binary' %}selected{% endif %}>Non-Binary</option>
        </select>

        <label for="count">Number of Results:</label>
        <select id="count" name="count">
            <option value="5" {% if session.get('count') == '5' %}selected{% endif %}>5</option>
            <option value="10" {% if session.get('count') == '10' %}selected{% endif %}>10</option>
            <option value="25" {% if session.get('count') == '25' %}selected{% endif %}>25</option>
            <option value="50" {% if session.get('count') == '50' %}selected{% endif %}>50</option>
        </select>

        <label for="prefix">Select Prefix:</label>
        <select id="prefix" name="prefix">
            <option value="">No Prefix</option>
            <option value="Sir" {% if session.get('prefix') == 'Sir' %}selected{% endif %}>Sir</option>
            <option value="Lady" {% if session.get('prefix') == 'Lady' %}selected{% endif %}>Lady</option>
            <option value="Master" {% if session.get('prefix') == 'Master' %}selected{% endif %}>Master</option>
            <option value="Lord" {% if session.get('prefix') == 'Lord' %}selected{% endif %}>Lord</option>
            <option value="Madam" {% if session.get('prefix') == 'Madam' %}selected{% endif %}>Madam</option>
            <option value="Mr." {% if session.get('prefix') == 'Mr.' %}selected{% endif %}>Mr.</option>
            <option value="Mrs." {% if session.get('prefix') == 'Mrs.' %}selected{% endif %}>Mrs.</option>
            <option value="Ms." {% if session.get('prefix') == 'Ms.' %}selected{% endif %}>Ms.</option>
            <option value="Young" {% if session.get('prefix') == 'Young' %}selected{% endif %}>Young</option>
        </select>

        <label for="suffix">Select Suffix:</label>
        <select id="suffix" name="suffix">
            <option value="">No Suffix</option>
            <option value="Senior" {% if session.get('suffix') == 'Senior' %}selected{% endif %}>Senior</option>
            <option value="Junior" {% if session.get('suffix') == 'Junior' %}selected{% endif %}>Junior</option>
            <option value="the Second" {% if session.get('suffix') == 'the Second' %}selected{% endif %}>the Second</option>
            <option value="the Third" {% if session.get('suffix') == 'the Third' %}selected{% endif %}>the Third</option>
            <option value="the Brave" {% if session.get('suffix') == 'the Brave' %}selected{% endif %}>the Brave</option>
            <option value="the Wise" {% if session.get('suffix') == 'the Wise' %}selected{% endif %}>the Wise</option>
            <option value="the Boastful" {% if session.get('suffix') == 'the Boastful' %}selected{% endif %}>the Boastful</option>
            <option value="the Coward" {% if session.get('suffix') == 'the Coward' %}selected{% endif %}>the Coward</option>
            <option value="the Timid" {% if session.get('suffix') == 'the Timid' %}selected{% endif %}>the Timid</option>
            <option value="the DevOp" {% if session.get('suffix') == 'the DevOp' %}selected{% endif %}>the DevOp</option>
            <option value="the Burned" {% if session.get('suffix') == 'the Burned' %}selected{% endif %}>the Burned</option>
            <option value="the Scorned" {% if session.get('suffix') == 'the Scorned' %}selected{% endif %}>the Scorned</option>
            <option value="the Kind" {% if session.get('suffix') == 'the Kind' %}selected{% endif %}>the Kind</option>
            <option value="the Hermit" {% if session.get('suffix') == 'the Hermit' %}selected{% endif %}>the Hermit</option>
            <option value="the Feared" {% if session.get('suffix') == 'the Feared' %}selected{% endif %}>the Feared</option>
            <option value="the Sneaky" {% if session.get('suffix') == 'the Sneaky' %}selected{% endif %}>the Sneaky</option>
            <option value="the Scoundrel" {% if session.get('suffix') == 'the Scoundrel' %}selected{% endif %}>the Scoundrel</option>
        </select>

        <button type="submit">Generate Characters</button>
    </form>

    <div id="character-list">
        <!-- Generated characters will be displayed here -->
    </div>
</body>
</html>

